# Docker build
/scm-source.json

# Leiningen
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# IntelliJ IDEA
/.idea
*.iml
